{% load i18n static admin_black %}
<ul class="nav">


    <li class="{% if 'icons' in segment %} active {% endif %}">
      <a href="{% url 'lista_usuario' %}">
          <i class="fa-solid fa-users"></i> Usuarios
      </a>
  </li>
  <li class="{% if 'map' in segment %} active {% endif %}">
      <a href="{% url 'lista_sensor' %}">
          <i class="fa-solid fa-gauge-high"></i> Medidores
      </a>
  </li>
  <li class="{% if 'notifications' in segment %} active {% endif %}">
      <a href="{% url 'listaAsignacion' %}">
          <i class="fa-solid fa-layer-group"></i> Asignaciones
      </a>
  </li>


  <li class="{% if estadisticas_active %}active{% endif %}">
      <a data-toggle="collapse" href="#estadisticasDropdown">
          <i class="fa-solid fa-chart-pie"></i>
          <p>Estadísticas <b class="caret"></b></p>
      </a>
      <div class="collapse {% if estadisticas_active %}show{% endif %}" id="estadisticasDropdown">
          <ul class="nav">
              <li><a href="{% url 'admin_estadisticas_geograficas_avanzadas' %}">
                <i class="fa-solid fa-chart-line"></i>Estadísticas Diarias</a></li>
              <li><a href="{% url 'admin-estadisticas_geograficas' %}">
                <i class="fa-solid fa-circle-half-stroke"></i> Estadística Histórica</a></li>
          </ul>
      </div>
  </li>

  <!-- Dropdown de Administración -->
  <li class="{% if admin_active %}active{% endif %}">
      <a data-toggle="collapse" href="#adminDropdown">
          <i class="fa-solid fa-microchip"></i>
          <p>Administración Profunda <b class="caret"></b></p>
      </a>
      <div class="collapse {% if admin_active %}show{% endif %}" id="adminDropdown">
          <ul class="nav">
              <li><a href="{% url 'lista_consumo_estatico' %}"><span class="sidebar-mini-icon">L</span>Consumos Estáticos</a></li>
              <li><a href="{% url 'lista_consumo_dinamico' %}"><span class="sidebar-mini-icon">R</span>Consumos Dinámicos</a></li>
              <li><a href="{% url 'lista_notificaciones' %}"><span class="sidebar-mini-icon">R</span>Notificaciones</a></li>
              <li><a href=""><span class="sidebar-mini-icon">R</span>Tipo de Notificaciones</a></li>
              <li><a href=""><span class="sidebar-mini-icon">R</span>Log del usuarios</a></li>
          </ul>
      </div>
  </li>


  <li class="{% if 'rtl' in segment %} active {% endif %}">
      <a href="{% url 'cerrar_sesion' %}">
          <i class="fa-solid fa-right-from-bracket"></i> Cerrar sesión
      </a>
  </li>

</ul>
